.edit-account{
  display: inline-block;
  justify-content: center;
}

.edit-account-text{
  display:block;
}

.form-account{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 100%;
  max-width: 450px;
}

.form-group{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2rem;
}

.edit-button{
  background-color: rgb(96, 96,96);
  border-radius: 1rem;
  margin-top: 0.5rem;
}