.dropdown-content {
  background: var(--secondary-color);
  width: 300px;
}

.dropdown-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-color);
  color: black;
  font-weight: 550;
  font-size: 1.2rem;
}

.dropdown-item button {
  margin: 1rem 0 0 0;
  background: black;
  color: white;
  font-size: 1.2rem;
}

.dropdown-item button:hover {
  color: var(--secondary-color);
}

.dropdown-item a {
  padding: 0.3rem;
}

.dropdown-trigger {
  color: black;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.navbar-main .dropdown-trigger svg {
  color: black;
  font-size: 1rem;
}

.dropdown:hover {
  cursor: pointer;
}

.navbar-text {
  size: 1.3rem !important;
}

.dropdown-item .button {
  width: 5rem !important;
  height: 1.5rem;
  font-size: 0.7rem;
  align-self: center;
}

.navbar-main .dropdown-menu {
  left:0rem !important;
}

@media screen and (max-width: 426px) {
  .dropdown-menu {
    position: fixed;
    top: 3rem;
    left: 0 !important;
    width: 100%;
    padding: 0;
    gap: 0.2rem;
    background: grey;
  }

  .dropdown-content {
    width: 100%;
  }
}
