.album-container{
  padding: 0.2rem;
  margin-left: 1rem;
}

.track-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;

}
.track-cover{
  width: 3rem;
}

.play-icon{
  color: var(--secondary-color);
}
.icon-like-on{
  color: var(--secondary-color);
}