.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-name {
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: black;
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.4rem;
}

.label-albums {
  display: flex;
  flex-direction: row;
  width: 5rem;
  margin:0.3rem
}

.button-album-container {
  display: flex;
  flex-wrap: wrap;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  color: var(--secondary-color);
  margin: 0.3rem;
}

.button-album__image {
  height: 75%;
}

.button-album__name {
  font-size: 0.8rem;
}

.player-container {
  position: fixed;
  bottom: 6rem;
  left: 0;
  width: 100%;
  height: 2rem;  
}


.rhap_time{
  color:black !important;
}

.rhap_container{
  background-color: rgb(81, 81, 79) !important;
  
  }

.rhap_container button {  
  color: var(--secondary-color) !important;
}

.rhap_progress-filled {
  background-color: var(--secondary-color) !important; 
}
.rhap_progress-indicator{
  background-color: var(--secondary-color) !important; 
}
.rhap_volume-indicator{
  background-color: var(--secondary-color) !important; 
}
.rhap_volume-bar::-webkit-slider-runnable-track{
  background-color: var(--secondary-color) !important; 
}



@media screen and (min-width: 426px) {
  .label-container {
    flex-direction: row;
  }
  .label-albums {
    flex-direction: column;
    justify-content: space-between;
  }
  .album {
    margin: 0.2rem;
  }
  .player-container {
    
    bottom: 3rem;    
  }
}
