.label-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-name {
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: black;
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.4rem;
}

.label-albums {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  border: solid 2px var(--secondary-color);
  border-radius:0.8rem;
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 1rem;
  padding:0.2rem;
}

.list__album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--secondary-color);
  margin: 0.3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  border: solid 1px black;
  max-width: 6rem;
}

.list__album-image {
  width: 4rem;
  height: 4rem;
}

.track-cover-container {
  min-width: calc(4rem + 2px);
  height: calc(4rem + 2px);
  border: solid 1px white;
  padding:0;
}

.player-container {
  position: fixed;
  bottom: 7rem;
  left: 0;
  width: 100%;
  height: 2rem;
}

.rhap_time {
  color: black !important;
}

.rhap_container {
  background-color: rgb(81, 81, 79) !important;
}

.rhap_container button {
  color: var(--secondary-color) !important;
}

.rhap_controls-section{
  margin-top: 2px !important;
}

.rhap_progress-filled {
  background-color: var(--secondary-color) !important;
}
.rhap_progress-indicator {
  background-color: var(--secondary-color) !important;
}
.rhap_volume-indicator {
  background-color: var(--secondary-color) !important;
}
.rhap_volume-bar::-webkit-slider-runnable-track {
  background-color: var(--secondary-color) !important;
}
.rhap_progress-section{
  width:90%;
  margin-left: 2rem;
  margin-top: 1.3rem;
  padding-right:2rem;
}

.icon-close-player{
  position: absolute;
  color: var(--secondary-color);
  font-size: 1.3rem;
  top: 0.4rem;
  left: 1rem;
}

.audio-player__track-name{
  position: absolute;
  color: black;
  font-size: 1rem;
  top: 0.6rem;
  left: 3rem;
}

@media screen and (min-width: 426px) {
  .label-container {
    flex-direction: row;
  }

  .label-albums {
    flex-direction: column;
    max-width: 7rem;
    margin-right: 0.5rem;
    height: calc(100vh - 2 * var(--navbar-height));
    max-height: calc(100vh - 2 * var(--navbar-height));
    overflow-y: scroll;
    overflow-x: initial;
  }

  .label-albums::-webkit-scrollbar {
    width: 5px;
  }

  .label-albums::-webkit-scrollbar-track {
    background: transparent;
  }

  .list__album-container::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
  }

  .album {
    margin: 0.2rem;
  }

  .player-container {
    bottom: 4rem;
  }
}
