header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
img {
    width: 15%;
    margin-right: 95%;
    
}

.svg-inline--fa{
    color: #9e8a58;
    height: 0.8rem;
    padding-right: 5%;
}

