.album-container{
  background-color: #51514f;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 25px;
  width: 95%;
  padding: 0.2rem;
  
}
.button-album-container:hover{ 
  transform: scale(1.2) ;
  filter: drop-shadow(0 0.5rem 0.5rem var(--secondary-color));
  transition: 0.7s;
  border-radius: 15%;
}
.album-container__title{
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--secondary-color);
}


.track-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  margin: 0.4rem;
 
}
.track-cover{
  width: 3rem;
}

.play-icon{
  color: var(--secondary-color);
}
.likes-icon{
  color: var(--secondary-color);
}