.hero-image {
  width: 15rem;
  margin: auto;
}
.title {
  color: black;
  font-size: 2.5rem;
}
.subtitle {
  color: rgb(161, 161, 161);
  text-align: justify;
  max-height: 200px;
  overflow-y: scroll;
}

.label__card-main {
  display: flex;
  flex-direction: column;  
  box-shadow: black 0.5rem 0.5rem 2rem 0;
  border-radius: 1rem;
  width: 95%;
  color: black;
  background-color: white;
  margin:1.5rem auto;
}

.label__card-header {
  display: flex;
  padding: 1rem;
  border-radius: 0.65rem 0.65rem 0 0;
}

.label__card-content {
  font-size: 1.2rem;
  max-height: 230px;
  overflow-y: scroll;
  padding: 1rem;
  line-height: 2rem;
  margin: auto 0;
}

.label__card-image {
  width: 15rem;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .label__card-main {
    flex-direction: row;
  }
  .is_reverse {
    flex-direction: row-reverse;
  }
  .label__card-image {
    width: 80%;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  
}
