.hero-image{
  width: 15rem;
  margin: auto;
}
.title{
  color: black;
  
}
.subtitle{
  color: rgb(96, 96, 96);
  }

.label__card-main{
display: flex;
flex-direction: column;
justify-content: space-between;
border: solid 3px black;
border-radius:1rem;
width:100%;
height-max: 20rem;
color:black;
background:white;
}

.label__card-header{
  display: flex;
  padding:1rem;
  border-radius:.65rem .65rem 0 0;

}

.label__card-content{
font-size:1.2rem;
height:100%;
padding:1rem;
line-height:2rem;
margin:auto 0;
}

.label__card-image{
  width: 80%;
  margin: auto;
}


@media screen and (min-width: 600px)  {
  .label__card-main{
    flex-direction:row;
  }
  .is_reverse{
    flex-direction:row-reverse;
  }
  .label__card-image{
     width: 100%;
  }

}
  