.hero-image{
  width: 15rem;
  margin: auto;
}
.title{
  color: black;
  
}
.subtitle{
  color: rgb(96, 96, 96);
  }

.label__card{
display: flex;
justify-content: space-between;
flex-direction:column;
border: solid 3px black;
border-radius:1rem;
width:100%;
height-max: 20rem;
color:black;
background:white;
}

.label__card-header{
width:100%;
height: 0.02rem !important;
padding:1rem;
background:linear-gradient(to top, white,rgba(0, 0, 0, 0.8)) ;
border-radius:.65rem .65rem 0 0;

}

.label__card-main{
width:100%;
padding:1rem;
display:flex;
justify-content:space-evenly;
flex-direction:column;
}

.label__card-content{
font-size:1.2rem;
height:100%;
padding:1rem;
line-height:2rem;
margin:auto 0;
}

.label__card-image{
width: 13rem;
margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .label__card-main{
    flex-direction:row;
  }
}
  