.section{
  margin: 1rem auto;
  padding:0.8rem;
  border:2px solid var(--secondary-color);
  display:flex;
  flex-wrap:wrap;
  display:flex;
  width:fit-content;
  max-width:100%;
  justify-content:center;
  align-items:center;
}

.section select {
  padding: 0.2rem;
  font-size: 1.2rem;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  background-color: #fff;
}

.section select:hover {
  border-color: var(--secondary-color);
}

.section select:focus {
  outline: none;
  border-color: var(--secondary-color); 
}

.section div{
  padding:1rem;
}

.section input{
  padding: 0.2rem;
  font-size: 1.2rem;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  background-color: #fff;
  max-width:250px;
}

.section span{
  padding:1rem;
  font-size:1.2rem;
  font-weight:600;
}