.submit-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.submit-form * {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

.input {
  width: 90%;
  max-width: 600px;
  padding: 0 0.5rem;
}

button {
  width: 200px;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 300px;
  margin: 0 auto;
}

.link {
  text-decoration: underline;
}

.link-forgot{
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.header-connexion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.return-link {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

@media screen and (min-width: 426px) {
  .return-link {
    display: none;
  }

  .footer {
    margin-bottom: 0;
  }
}
