.head{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center; 
    height: 20vh;
}

.head-image{
  margin-top: 0%;
  max-height: 50%;
}

.card{
  display: flex;
  justify-content: space-between;
  padding:2%;
  margin: 2% 4%;
}

.card-image{
  width: 50%;
}

.card-content{
  width: 70%;
}
    