.return-icon {
  display: flex;
  padding-left: 1.5rem;
  justify-content: flex-start;
}

.profil-container {
  width: 100%;
  border-radius: 1.5rem;
  background-color: black;
  padding: 1rem;
  color: #9e8a58;
  font-weight: bold;
}

.profil-container span{
  display: none;
}

.h1-profil {
  margin-top: -2rem;
  font-size: 1.5rem;
}

.icon-gretter-size {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #9e8a58;
}

.profil-icons a {
  padding: 0 1.5rem;
}

.tracks-list {
  padding: 0 3rem;
}

.tracks-list p {
  padding-bottom: 0.5rem;
}

.delete-account {
  display: inline-block;
  justify-content: center;
}

.favorite-title{
  margin-top: 1rem;
  border-top: 1px solid rgb(96, 96, 96);
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

#favorites {
  padding-top: 0.2rem;
  font-size: 1.3rem;
}

.edit-button-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.edit-profil-button{
  width:fit-content;
}

.edit-profil-button .icon-gretter-size{
  margin-right: 0;
}

@media screen and (min-width: 426px) {
  .profil-container span{
    display:initial;
  }
}

