.form{
  display: flex;
  justify-content: center;
}

.submit-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around; 
  width: 85%;  
}

.input{
  width: 50%;
  margin: 2%; 
}

button{
  margin: 3% 35%;
}

a{
  padding: 2%;
  margin: 3%;
}