header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    max-height: 10%;
    
}

.logo {
    width: 15%;
    margin-right: 95%;
    
}

a{
    color: #9e8a58;
    padding: 1%;
    margin: auto;
      
}

