header{
    background-color: black;
    display: flex;
    height: 12%;
   
}

.nav-icon{
    color: #9e8a58;
    margin: auto 2% auto 1%;
    padding: 1%;      
}

.nav-logo{
    padding:0%;
    max-width: 12%;
    margin-right: 68%;
}

a.active{
    padding:1%
}


