header{
    background-color: black;
    display: flex;
    height: 12%;
   
}

.logo {
    width: 20%;
    margin-right: 75%;
    
}

.nav-icon{
    color: #9e8a58;
    margin: auto 2% auto 1%;      
}



