.label-container{
  /* overflow-x:scroll; */
  /* display:flex;
  flex-wrap: wrap; */


}

.label-name{
  
  border: 1px solid var(--secondary-color);
  color: white;
  font-weight: lighter;
  padding: 0.3rem;
  margin: 0.3rem;

}

.label-albums{
  display: flex;
  flex-wrap: wrap;
  width: 5rem;
  
}

.button-album-container{
  display: flex;
  flex-wrap: wrap;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  color: var(--secondary-color);
  margin: 0.3rem;
    
}

.button-album__image{
  padding: 0.2rem !important;
  height: 75%;
  
}
.button-album__name{
  font-size: 0.8rem;
  
  }

@media screen and (min-width: 426px) {
  .label-albums{
    flex-direction: column;
    justify-content: space-between;
  }

  .album{
    margin:0.2rem;
  }
}