:root {
    --primary-color: #007bff;
    --secondary-color: #9e8a58;
    --third-color: darkolivegreen;
    --background-color: #202020;
    --main-padding:1rem;
    --navbar-height: 3rem;
  }
  
  #root {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    min-width:300px;
    width:100%;
    box-sizing:border-box;
  }

  .is-selected {
    color: black !important;
    background:#9e8a5862 !important;
  }
  
  main{
    min-height:100vh;
    background:var(--background-color);
    color:white;
    padding:1rem;
    margin-top:var(--navbar-height);
  }
  
  main a{
    margin:0;
    padding:0;
  }
  
  .button, .input{
    position: static !important;
  }
  
  @media screen and (min-width: 426px) {
    main{
      margin-top:0;
    }
  }